body{
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-family: monospace;
	font-size:18px;
	padding:0 10px;
	background-color: #171717;
	color:#FFFAFA;
}
h1,h2,h3{
	color: #FFF5EE;
	line-height:1.2;
}
a{
	color:#3559EB;
}
li {
	display: inline;
}